	<section>
		<div class="containsOne header4">
			<%= event.eventTime.to_formatted_s(:long_ordinal) %>
		</div>
		<div class="containsOne header4">
			<%= event.eventVenueName %>
		</div>
		<div class="containsOne header3">
			<%= link_to event.eventName, event.eventURL %>
			<% if current_user %>
				<%= button_to "delete", '/techinmiami/destroyEvent', method: :delete, params: {event: event } %>
			<% end %>
		</div>
		<div class="containsOne header4">
			<%= truncate(event.eventDescription, length: 200) %>
		</div><br>
	</section>
