	<section>
		<div class="containsOne header4">
			<%= event.eventTime.to_formatted_s(:long_ordinal) %>
		</div>
		<div class="containsOne header4">
			<%= event.eventVenueName %>
		</div>
		<div class="containsOne header3">
			<%= event.eventName %>
		</div>
		<div class="containsOne header4">
			<%= truncate(event.eventDescription, length: 200) %>
		</div><br>
			<% if current_user %>
				<div class="containsOne header4">
					<%= button_to "delete", '/techinmiami/destroyEvent', method: :delete, params: {event: event } %>
				</div>
			<% end %>
				
	</section>
