	<div class="flex1 center">
		<%= "content" %>
	</div>
	<div class="flex3 rows">
		<div class="center em12">EventBrite Tech Events</div>
		<% if current_user %>
			<section class="center">
			<%= form_for :event, html: {class: "rows"}, url: '/techinmiami/newevent' do |f| %>
			  <%# The event URL is used to find the event ID. %>
			  eventURL: <%= f.text_field :eventURL %>
			  <%= f.submit "Submit" %>
			<% end %>
			</section>
		<% end %>
		<%= @events = Event.last(5)
			render partial: 'techinmiami/events', collection: @events, as: :event 
		%>
	</div>

