<section>
	
<div class="containsOne">
	<div class="containsOne header1">
		Tech in Miami
	</div>

</div>
<div class="containsRows">
	<div class="containsOne">
		<% if current_user %>
			<%= form_for :event, url: '/techinmiami/newevent' do |f| %>
			  <%# The event URL is used to find the event ID. %>
			  eventURL: <%= f.text_field :eventURL %>
			  <%= f.submit "Submit" %>
			<% end %>
		<% end %>
	</div>

<% @events.each do |event| %>
	<section>
	<div class="containsOne header4">
		<%= event.eventTime.to_formatted_s(:long_ordinal) %>
	</div>
	<div class="containsOne header4">
		<%= event.eventVenueName %>
	</div>
	<div class="containsOne header3">
		<%= event.eventName %>
	</div>
	<div class="containsOne header4">
		<%# event.eventDescirption %>
		<%= truncate(event.eventDescription, length: 200) %>
	</div><br>
	<%# event.id %>
	<!-- <%= event.eventURL %><br> -->
	</section>
<% end %>
</div>
</section>