<%= simple_form_for @post, html: {class: "rows block"} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
        <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
        <% @post.errors.full_messages.each do |msg| %>
            <%= msg %>
        <% end %>
    </div>
  <% end %>
    <%= f.input :postType, collection: ["Personal","Technical"] %>
    <%= f.input :title %>
    <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}} %>
    <%= f.button :submit %>
<% end %>