<div class="center em12">Posts</div>

<% recentPosts(5).each do |post| %>

  <section class="rows center">
      <div class="center top em15">
        <%= post.title %>
      </div>
      <div class="center">
        <%= post.created_at.strftime('%b %d, %Y') %> - <%= post.postType  %> blog
      </div>
      <div class="center full rows">
        <%= raw(post.body).truncate(358) %>
      </div>
      <div class="center">
        <%= link_to "READ MORE", post_path(post) %>
      </div>
  </section>

<% end %>

<% content_for :aside do %>
  <div class="center em12">Posts</div>
  <%= render partial: 'posts/post', collection: recentPosts(5), as: :post %>
<% end %>

<% if flash[:notice] %>
  <% content_for :notice do %>
    flash
  <% end %>
<% end %>